<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
            <customFields>{"level":"ACCESS"}</customFields>
            <fieldNames>
                <requestHeaders>request_headers</requestHeaders>
                <requested_url>[ignore]</requested_url>
            </fieldNames>
            <lowerCaseHeaderNames>true</lowerCaseHeaderNames>
        </encoder>
    </appender>
    <appender-ref ref="JSON"/>
</configuration>
